<form [formGroup]="form" >
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control">
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.errors.required" >Username is required</div>
            <div *ngIf="username.errors.minlength" >Username should be minimun {{ username.errors.minlength.requiredLength }} characters</div>
            <div *ngIf="username.errors.cannotContainSpace" >Username can not contain space</div>
            <div *ngIf="username.errors.shouldBeUnique" >Username is alrredy taken</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>