<form [formGroup]="form" >
  <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input 
          formControlName="oldPassword"
          id="oldPassword" 
          type="password" 
          class="form-control">
      <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
          <div *ngIf="oldPassword.errors.required" >Old Password is required</div>
          <div *ngIf="oldPassword.errors.invalidOldPassword" >Old Password is invalid</div>
      </div>
  </div>
  <div class="form-group">
      <label for="newPassword">New Password</label>
      <input 
          formControlName="newPassword"
          id="newPassword" 
          type="password" 
          class="form-control">
          <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
            <div *ngIf="newPassword.errors.required" >New Password is required</div>
          </div>          
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input 
        formControlName="confirmPassword"
        id="confirmPassword" 
        type="password" 
        class="form-control">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required" >Confirm Password is required</div>
        </div> 
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
          The passwords do not match
        </div>        
  </div>  
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>