<div class="zippy">
  <div class="zippy-heading"
      [class.expanded]="isExpanded"
      (click)="toggle()"
      >
    {{title}}
    <span class="glyphicon"
      [ngClass]="{
        'glyphicon-chevron-up': isExpanded,
        'glyphicon-chevron-down': !isExpanded
      }"
    ></span>
  </div>
  <div *ngIf="isExpanded" class="zippy-body">
    <ng-content></ng-content>
  </div>
</div>