<div *ngFor="let follower of followers" class="media">
  <div class="media-left">
    <a href="#">
      <img class="avatar media-object" src="{{ follower.avatar_url }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> follower.login </h4>
    <a href="follower.html_url"> {{ follower.html_url }} </a>
  </div>
</div>