<h1>Example heading <span class="badge badge-secondary">New</span></h1>
<div class="container">
    <h2>Star Glyph</h2>
    <p>Star icon: <span 
        class="glyphicon"
        [class.glyphicon-star]="isFavorite"
        [class.glyphicon-star-empty]="!isFavorite"
        (click)="onClick()"
        ></span> </p>    

        <span 
        class="glyphicon"
        [class.glyphicon-star]="isFavorite"
        [class.glyphicon-star-empty]="!isFavorite"
        (click)="onClick()"
        ></span>

    <p>Star icon as a link:
      <a href="#">
        <span class="glyphicon glyphicon-star"></span>
      </a>
    </p>
    <p>Star icon on a button:
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-star"></span> Star 
      </button>
    </p>
    <p>Star icon on a styled link button:
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-star"></span> Star 
      </a>
    </p> 
    <p>Unicode:
      <span class="glyphicon">&#xe006;</span>
    </p> 
  </div>